/* utils */
.paddingLeft {
  padding-left: 8%;
}

.paddingRight {
  padding-right: 8%;
}

.paddingBottom {
  padding-bottom: 8%;
}

.marginTop {
  margin-top: 8%;
}

.marginTopTwice {
  margin-top: 16%;
}

.right,
.right_pcOnly {
  text-align: right;
}


.flex_row,
.flex_row_reverse,
.flex_column,
.flex_column_reverse,
.flex_row_onlySmartphone,
.flex_row_reverse_onlySmartphone,
.flex_column_onlySmartphone,
.flex_column_reverse_onlySmartphone {
  display: flex;
}

.flex_row_reverse {
  flex-direction: row-reverse;
}

.flex_column {
  flex-direction: column;
}

.flex_column_reverse {
  flex-direction: column-reverse;
}

.leftComponent,
.leftComponent_pcOnly {
  justify-self: start;
}

.rightComponent,
.rightComponent_pcOnly {
  justify-content: flex-end;
}

.centerComponent,
.centerComponent_spaceAlound {
  position: relative;
  display: flex;
  justify-content: center;
}

.centerComponent_spaceAlound {
  justify-content: space-around;
}

.font_ange {
  color: rgba($color: #C83C35, $alpha: 0.8);
}

.font_lize {
  color: rgba($color: #42FFFF, $alpha: 0.8);
}

.font_inui {
  color: rgba($color: #9D3757, $alpha: 0.8);
}

.color_ange {
  background-color: rgba($color: #C83C35, $alpha: 0.5);
}

.color_lize {
  background-color: rgba($color: #42FFFF, $alpha: 0.5);
}

.color_inui {
  background-color: rgba($color: #9D3757, $alpha: 0.5);
}

/* layout */

.ly_center {
  height: 100vh;
  width: 100%;
  display: grid;
}

/* block */

.bl_window {
  width: 80%;
  height: 80%;
  margin-left: 10%;
  padding-top: 18%;
}

.bl_memberWindow{
  display: flex;
}

.bl_window_title,
.bl_window_content,
.bl_window_subtitle {
  text-align: center;
}

.bl_window_subtitle {
  font-size: 2.1vw;
  letter-spacing: 7px;
  margin-bottom: 17px;
}

.bl_scroll {
  text-align: center;
}

.bl_window_flexFrame {
  position: relative;
  padding: 10px;
}

.char_frame {
  height: 50vh;
  width: 35vw;
  text-align: center;
  position: relative;
}

.char_msg {
  font-size: 35px;
  margin: 0;
  padding: 0;
}

.char_img {
  height: 45vh;
  width: 30vw;
  object-fit: cover;
}

// for smartphone
@media screen and (max-width: 768px) {
  .ly_center {
    height: auto;
  }

  .bl_memberWindow{
    flex-direction: column;
  }

  .bl_window_title {
    font-size: 8vw;
    letter-spacing: 5px;
    margin-bottom: 70px;
  }

  .bl_window_subtitle {
    font-size: 6.5vw;
  }

  .bl_window_content {
    font-size: 4vw;
  }

  .flex_column_onlySmartphone {
    flex-direction: column;
  }

  .flex_column_reverse_onlySmartphone {
    flex-direction: column-reverse;
  }

  .flex_row_onlySmartphone {
    flex-direction: row;
  }

  .flex_row_reverse_onlySmartphone {
    flex-direction: row-reverse;
  }

  .font_ange, .font_lize, .font_inui {
    font-size: 6vw;
    font-weight: 500;
  }

  .right_pcOnly {
    text-align: center;
  }

  .leftComponent_pcOnly,
  .rightComponent_pcOnly {
    justify-content: center;
  }

}

// for pc
@media screen and (min-width: 768px) {
  .bl_window {
    height: 50vh;
  }

  .bl_window_title {
    font-size: 40px;
    letter-spacing: 10px;
    margin-bottom: 25px;
  }

  .bl_window_content {
    font-size: 27px;
  }

  .bl_historyWindow_smallImg {
    height: 13vh;
    width: 12vw;
    object-fit: cover;
  }

  .bl_historyWindow_largeImg {
    height: 16vh;
    width: 15vw;
    object-fit: cover;
  }

  .font_ange, .font_lize, .font_inui {
    font-size: 30px;
    font-weight: 600;
  }

  .paddingLeft_pcOnly {
    padding-left: 8%;
  }

  .paddingRight_pcOnly {
    padding-left: 8%;
  }

  @keyframes sdl {
    0% {
      transform: scale(1, 0);
      transform-origin: 0 0;
    }
    50% {
      transform: scale(1, 1);
      transform-origin: 0 0;
    }
    50.1% {
      transform: scale(1, 1);
      transform-origin: 0 100%;
    }
    100% {
      transform: scale(1, 0);
      transform-origin: 0 100%;
    }
  }
}