.frame {
  position: relative;
  padding: 10px;
}

.image {
  height: 12vh;
  width: 25vw;
  object-fit: cover;
}

// for pc
@media screen and (min-width: 768px) {
  .image {
    height: 16vh;
    width: 15vw;
  }
}