.frame,
.frame_right {
  width: 35vw;
  height: 35vh;
  margin-top: 2vh;
  display: inline-block;
  transform: rotate(5deg);
}

.frame_right {
  transform: rotate(-5deg);
}

.image {
  width: 90%;
  height: auto;
  object-fit: cover;
}

// for smartphone
@media screen and (max-width: 767px) {
  .frame,
  .frame_right {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    transform: none;
  }

  .image {
    width: 100%;
    height: auto;
  }
}