.frame,
.frame_right {
  width: 100%;
  margin-top: 2vh;
  display: inline-block;
  transform: rotate(5deg);

  @media screen and (max-width: 1024px) {
    margin-left: auto;
    margin-right: auto;
    transform: none;
  }
}

.frame_right {
  transform: rotate(-5deg);
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;

  @media screen and (max-width: 1024px) {
    width: 100%;
    height: auto;
  }
}
