.root {
  width: 96vw;
}

.block {
  padding-top: 12vh;
}

.link {
  font-size: 17px;
  color: blue;
}

.title {
  font-size: 30px;
  letter-spacing: 10px;
  margin-bottom: 25px;
  text-align: center;
}

.subtitle {
  font-size: 24px;
  letter-spacing: 7px;
  margin-bottom: 17px;
  text-align: center;
}

.content {
  text-align: center;
  font-size: 17px;
}

.right {
  text-align: right;
}