.root {
  padding: 0;
  padding-top: 10vh;
  width: 100%;
}

.content {
  text-align: center;
}

.text {
  font-size: 17px;
}

// for smartphone
@media screen and (max-width: 767px) {
  .text {
    font-size: 4vw;
  }
}