.root {
  width: 100%;
  position: fixed;
  z-index: 10;
  display: grid;
}

.content {
  z-index: 10;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    background-color: rgba($color: #9D3757, $alpha: 1);
  }
}