.root {
  width: 100%;
  z-index: 1;
  display: grid;
  position: absolute;
}

.content {
  position: relative;
  z-index: auto;
  display: flex;
  justify-content: center;
}

// for pc
// @media screen and (min-width: 768px) {
@media screen and (min-width: 1025px) {
  .content {
    background-color: rgba($color: #9D3757, $alpha: 1);
  }

  .smartphoneOnly {
    display: none;
  }
}

// for smartphone
// @media screen and (max-width: 767px) {
@media screen and (max-width: 1024px) {
  .pcOnly {
    display: none;
  }
}
