.root {
  width: 100%;
  position: fixed;
  z-index: 1;
  display: grid;
}

.content {
  background-color: rgba($color: #9D3757, $alpha: 1);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}