.wrapper {
	width: 100%;
	max-width: 800px;
}

.frame {
	display: inline-block;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.frame:after {
	position: absolute;
	display: block;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	transform: rotate(3deg); /* 回転させる */
	background: #fff;
	z-index: -1;
}

.image {
  width: 100%;
  object-fit: cover;
}

// for pc
// @media screen and (min-width: 768px) {
@media screen and (min-width: 1025px) {
  .frame {
    margin-bottom: 15px;
  }
}

