.archive {
  height: auto;
  width: 90vw;
  margin-top: 2vh;
  margin-bottom: 4vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.archive_reverse{
  flex-direction: row-reverse;
}

.content_box {
  height: 94%;
  width: 35vw;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  padding-bottom: 4%;
  background: #fff;
  box-shadow: 0 0 8px gray;
  border-radius: 15px;
}

.content {
  height: 90%;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
}

.title {
  font-size: 30px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.text {
  font-size: 18px;
}

.flex_column {
	position: relative;
  display: flex;
  flex-direction: column;
}

.flex_row {
	position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.marginBottom {
  margin-bottom: 10px;
}

.marginTop {
  margin-top: 35px;
}

// for smartphone
@media screen and (max-width: 767px) {
  .archive,
  .archive_reverse {
    flex-direction: column;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .content_box {
    width: 90vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    font-size: 5vw;
  }

  .text {
    font-size: 4vw;
  }

  .marginTop {
    margin-top: 1.3vh;
    margin-bottom: 1.3vh;
  }
}