.root {
  height: 100vh;
  width: 100vw;
  background: #EEE3C6;
  display: grid;
}

.main {
  height: 50vh;
  width: 80vw;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.title {
  font-size: 45px;
  letter-spacing: 10px;
  margin-bottom: 25px;
}

.content {
  font-size: 27px;
}