.root {
  height: 100vh;
  width: 98vw;
  position: relative;
  display: grid;
}

.main {
  height: 50vh;
  width: 80vw;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.flex {
  display: flex;
}

.flex_column {
	position: relative;
  display: flex;
  flex-direction: column;
}

.flex_row {
	position: relative;
  display: flex;
  flex-direction: row;
}

.flex_img {
  position: relative;
  padding: 10px;
}

.frame {
	display: inline-block;
	position: relative;
  margin-bottom: 15px;
}

.frame:after {
	position: absolute;
	display: block;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	transform: rotate(3deg); /* 回転させる */
	background: #fff;
	z-index: -1;
}

.img {
  height: 50vh;
  width: 44vw;
  object-fit: cover;
}

.img_small {
  height: 15vh;
  width: 14vw;
  object-fit: cover;
}

.img_large {
  height: 18vh;
  width: 17vw;
  object-fit: cover;
}

.title {
  font-size: 45px;
  letter-spacing: 10px;
  margin-bottom: 25px;
}

.subtitle {
  font-size: 35px;
  letter-spacing: 7px;
  margin-bottom: 17px;
}

.content {
  font-size: 27px;
}

.right_padding {
  padding-right: 8%;
}

.left_padding {
  padding-left: 8%;
}

.right {
  text-align: right;
}

.color_ange {
  background-color: rgba($color: #C83C35, $alpha: 0.5);
}

.color_lize {
  background-color: rgba($color: #42FFFF, $alpha: 0.5);
}

.color_inui {
  background-color: rgba($color: #9D3757, $alpha: 0.5);
}