.archive {
  height: 30vh;
  width: 96vw;
  margin-top: 2vh;
  margin-left: 2vw;
  display: flex;
  justify-content: center;
  background: red;
}

.video_img {
  height: 25vh;
  width: 40vw;
  margin: 2% 3%;
  background: green;
}

.img_small {
  height: 13vh;
  width: 12vw;
  object-fit: cover;
}

.img_large {
  height: 16vh;
  width: 15vw;
  object-fit: cover;
}

.content {
  height: 25vh;
  width: 40vw;
  margin: 2% 3%;
  background: yellow;
}